<!doctype html>
<footer class="footer navbar-fixed-bottom">
	<div class="container" style="position:relative; top:30%;">

		<p class="text-muted" style="text-align:center;">Tsukihi Araragi
		</p>

	</div>
</footer>

<script src="/jquery/dist/jquery.min.js"></script>
<script src="/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="/jquery-validation/dist/additional-methods.min.js"></script>
<script src="/bootstrap/dist/js/bootstrap.min.js"></script>

<script src="/select2/dist/js/select2.min.js"></script>

<script src="/moment/min/moment.min.js"></script>
<script src="/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js"></script>
<script src="/datatables.net/js/jquery.dataTables.min.js"></script>
<script src="/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
<script src="/dropzone/dist/min/dropzone.min.js"></script>

<script src="/moment/moment.js"></script>
<script src="/datatables-datetime-moment/dist/js/datetime-moment.min.js"></script>

