<!doctype html>
<meta charset="utf-8">
<title>Tsukihi Araragi</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css">
<link rel="stylesheet" href="/bootstrap/dist/css/bootstrap-theme.min.css">
<link rel="stylesheet" href="/select2/dist/css/select2.min.css">
<link rel="stylesheet" href="/select2-bootstrap-theme/dist/select2-bootstrap.min.css">
<link rel="stylesheet" href="/datatables.net-bs/css/dataTables.bootstrap.min.css">
<link rel="stylesheet" href="/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css">
<link rel="stylesheet" href="/css/app.css">
<link rel="stylesheet" href="/components-font-awesome/css/font-awesome.css">
<link rel="stylesheet" href="/dropzone/dist/min/dropzone.min.css">