<!doctype html>
<html>
	<head>
		<% include header %>
	</head>
	<body class="container-fluid">		
        <% include navbar %>
        <h1>Servers that you have a role in</h1>
        <div id="mainPage"></div>
        <% include footer %>
        <script src="/js/app.js"></script>

	</body>
</html>

<div id="guildTemplate" >
    <div class="col-sm-8">
        <img id="pic">
        <h3 id="name"></h3>
    </div>
</div>